.header {
    margin-bottom: 100px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__links {
    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #363853;
    transition: 0.5s all;
    margin-right: 60px;
    &:hover {
      color: #ff6838;
    }
  }
  &__button {
    width: 120px;
    height: 50.41px;
  }
  &__search {
    margin-right: 60px;
  }
  &__buy {
    margin-right: 60px;
  }
}
