.title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-transform: capitalize;
  color: #363853;
  span {
    color: #ff7a50;
  }
}
.subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #363853;
}
